html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
}


.container{
    box-shadow: 0 1px 4px rgba(0, 0,  0, 0.5);
    padding: 15px;
    border-radius: 5px;
    background-color: lightseagreen;
}


.screen{
    min-width: 310px;
    
    margin: 0;
    background-color: lightgreen;
    color: green;
    font-size: 64px;
    border-radius: 5px;
    padding: 10px;
}

.screen span{
    display: inline-block;
    max-width: 85px;
    text-align: center;
    cursor: default;
    user-select: none;
}

.buttons{
    display: flex;
margin: 10px -5px 0;

}

.buttons button{
    flex: 1 ;
    margin: 0 5px ;
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0,  0, 0.5);
    font-weight: bold;
    color: saddlebrown;
    background-color: sandybrown;
    outline: none;
    cursor: pointer;
}

.buttons button:hover{
    color: seashell;
    background-color: skyblue;
}